
*{
    box-sizing: border-box;
    font-family: 'Poppins';
}

.form-container{
    border-radius: 20px;
    padding: 20px;
    background: transparent;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
    backdrop-filter: blur(8px);
    max-height: 120vh;
}
    
body {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #edf1f4;
    margin: 0;
}

.title{
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bold;
    color: rgb(54, 85, 126);
}

form{
    max-width: 400px;
    margin: 10px auto;
}

label{
    display: block;
    margin-bottom: 5px;
}

input,select{
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

button{
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.required-star::before {
    content: '*';
    color: red;
    margin-right: 5px;
}